@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Quicksand:100,200,300,400,500,600,700');



.text-trans{
    
}

.font-fam{
    font-family: 'Pacifico', cursive;
}

.font-fam2{
    font-family: 'Akronim', cursive;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}



.avatar {
    vertical-align: middle;
    width: 150px;
    height:150px;
    border-radius: ;
    
}

.text-box{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 350px;
    text-align: center;
    margin-bottom: 50px;

}

.sub-gen{
    padding-top: 20px;
    text-align: center;
}

.divider-nav{
    background-color: #DEB887;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-right: 0px;
    padding-left: 0;
    padding-bottom: 20px;
}

.small-img {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
  border-color: blue;
}

.top-margin{
    margin-top: 50px;
    margin-bottom: 30px;
}

.zoom {
  padding: 50px;
  transition: transform 1.3s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.centered-page {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.background-color{
    background-color: #DEB887;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.margin-bottom{
  margin-bottom: 50px;
  margin-top: 50px;
}


.sizing{
  width: 300px;
  height: 300px;
}

nav ul a:hover{
  text-decoration: none;
  color: white;
}

nav .brand-logo.center:hover{
  text-decoration: none;
  color: white;
}

.bg-image{
  background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/11/5/i4FlQb.jpg');
}

.boxed {
  border-radius: 80%;
  width: 200px;
  height: 50px; 
  margin: 20px;
}

.upper-row {
  margin-top: 10%;
}

.padding-cirlce{
  margin: 10px;
}

.text-box-login{
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 350px;
    text-align: center;
    margin-bottom: 50px;
    
    
}

.collapsible-header{
  border-radius: 50px;
  border: 0px;
}

.bg-color-size{
  background-color: white;
  width: 350px;;
  height: 50px;
  border-radius: 50px;
}

.higher .chip{
  width: 200px;
  margin-top: 25px;
  background-color: #E4E4E99D;
  color: black;
  margin-bottom: 25px;
}

.higher .chip a{
  text-decoration: none;
  color:black;
}

.higher .chip a:hover{
  color: #26a69a;
  text-decoration: none;
 
}

