<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Akronim|Modak|Pacifico" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style type="text/css">
            button, input[type="submit"], input[type="reset"] {
            	background: none;
            	color: inherit;
            	border: none;
            	padding: 0;
            	font: inherit;
            	cursor: pointer;
            	outline: inherit;
            }
        </style>
   
    </head>
    <body class=" bg-image ">
        <div class="upper-row container center-align">
            <div class="font-fam"> <h2>Welcome</h2></div>
            <div class="">
                <a class="btn-floating pulse z-depth-4 padding-cirlce"><i class="material-icons">assignment</i></a>
            
            <div class="higher">
                
                 <form method="POST">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username">
                            
                                 <div class="chip">
                                     
                                         <h><button>Login</button></h4>
                                     
                                </div>  
                            
                </form>
                   
                       
           
                
                <div class="text-center  font-fam">
                    <h3>Or</h3>
                </div>
                <div class="chip">
                    <a href="{{url_for('get_recipes')}}"> <h>Conintue as Guest</h4></a>
                </div> 
                
            </div>
   
        </div>
                 
               
                 
                 
                 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var chip = {
              tag: 'chip content',
              image: '', //optional
            };
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.materialboxed').materialbox();
            $(".button-collapse").sideNav();
            $('.slider').slider();
            $('.chips').chips();
                $('.tap-target').tapTarget();

         
        });
     
    </script>   
        
        
        
        
        
    </body>
</html>