{% extends 'base.html' %}
{% block content %}
    <section class="container top-margin">
        <div class="row">
        {% for recipe in recipes %} {% if loop.index % 2 != 0 %} 
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 top-margin">
                <div class="text-box">
                    <div><img src="{{recipe.picture}}" alt="Avatar" class="zoom img-thumbnail"></div>
                    <h5 class="sub-gen">{{recipe.name}}<i class="fas fa-microphone-alt icon"></i></h5>
                    <p> <img src="{{recipe.profile_pic}}" alt="Avatar" class="small-img"> {{recipe.author}}</p>
                    
                <ul class="collapsible">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">more_horiz</i>Ingredients</div>
                      <div class="collapsible-body"><span>{{recipe.ingredients}}</span></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">menu</i>Instructions</div>
                      <div class="collapsible-body"><span> {{recipe.instructions}}</span></div>
                    </li>
                  </ul>
                <a class="btn-floating btn-small waves-effect waves-light grey left"><i class="material-icons">clear</i></a>
                <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">create</i></a>

                </div>
        </div>
        
        {% else %}
       <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 top-margin">
                <div class="text-box">
                    <div><img src="{{recipe.picture}}" alt="Avatar" class="zoom img-thumbnail"></div>
                    <h5 class="sub-gen">{{recipe.name}}<i class="fas fa-microphone-alt icon"></i></h5>
                    <p> <img src="{{recipe.profile_pic}}" alt="Avatar" class="small-img"> {{recipe.author}}</p>
                    
                <ul class="collapsible">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">more_horiz</i>Ingredients</div>
                      <div class="collapsible-body"><span>{{recipe.ingredients}}</span></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">menu</i>Instructions</div>
                      <div class="collapsible-body"><span> {{recipe.instructions}}</span></div>
                    </li>
                  </ul>
                <a class="btn-floating btn-small waves-effect waves-light grey left"><i class="material-icons">clear</i></a>
                <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">create</i></a>

                </div>
        </div>
         
        {% endif %} 
        {% endfor %}
    </div>
{% endblock %}